/*
 * Empty Stylesheet file.
 */

.gradient{
    -fx-background-color: linear-gradient(to bottom right,#102e94, #54aff5 );
    
}
.white form{
    -fx-background-color: #fff;
}

.head_level{
    -fx-border-color: #54aff5;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
    
}

.login_btn{
    -fx-background-color:#2d6d9a;
    -fx-background-radius: 5px;
    -fx-cursor : hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;           
}

.login_btn:hover{
    
      -fx-background-color: linear-gradiant(to bottom right, #095894 , #2d6d9a);
    
}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color:  linear-gradient(to bottom right,#102e94, #54aff5 );
    -fx-border-width: .5px;   
}
.textfield:focused{
    -fx-border-width: 1px;
}